* {
  overflow: auto;
}

/*home page styling*/
.header-menu {
  display: none;
}

.main-header {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  left: 150px;
  top: 160px;
}

.about-text {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  left: 150px;
  top: 225px;
  display: inline-block;
}

.logo {
  position: fixed;
  top: 10px;
  right: 30px;
}

.get-started {
  position: fixed;
  border-radius: 5px;
  top: 305px;
  left: 260px;
  font-size: 20px;
  background-color: tan;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* hamburger for home page*/
.checkbox {
  display: none;
}

.button {
  position: relative;
  background-color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 3vh;
  right: 2vw;
  z-index: 2000;
  box-shadow: 0 1rem 3rem black;
  text-align: center;
  cursor: pointer;
}

.background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5vh;
  right: 2vw;
  background-image: radial-gradient(black, black);
  z-index: 1000;

  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.item {
  margin: 1rem;
  font-size: 36px;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: tan;
  cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 3rem;
  height: 2px;
  background-color: gray;
  display: inline-block;
  background-image: url(Images/hamburgerMenu.png);
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}
.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/*assets page styling*/
.assets-header {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  left: 610px;
}

.square {
  background-color: black;
  border-radius: 25px;
  border: 2px solid tan;
  padding: 20px;
  position: fixed;
  top: 100px;
  width: 200px;
  height: 150px;
}

.square2 {
  background-color: black;
  border-radius: 25px;
  border: 2px solid tan;
  padding: 20px;
  position: fixed;
  top: 100px;
  left: 275px;
  width: 200px;
  height: 150px;
}

.square3 {
  background-color: black;
  border-radius: 25px;
  border: 2px solid tan;
  padding: 20px;
  position: fixed;
  top: 100px;
  left: 545px;
  width: 200px;
  height: 150px;
}

.square4 {
  background-color: black;
  border-radius: 25px;
  border: 2px solid tan;
  padding: 20px;
  position: fixed;
  top: 100px;
  left: 815px;
  width: 200px;
  height: 150px;
}

.square5 {
  background-color: black;
  border-radius: 25px;
  border: 2px solid tan;
  padding: 20px;
  position: fixed;
  top: 100px;
  left: 1085px;
  width: 200px;
  height: 150px;
}

.square-title {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 90px;
  left: 61px;
}

.square-text {
  font-family: Arial, Helvetica, sans-serif;
}

.square-button {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  background-color: tan;
  border-radius: 5px;
  font-size: 15px;
  top: 245px;
  left: 87px;
}

.square-author {
  font-family: Arial, Helvetica, sans-serif;
  color: tan;
  position: fixed;
  top: 255px;
}

.square-title2 {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 90px;
  left: 325px;
}

.square-text2 {
  font-family: Arial, Helvetica, sans-serif;
}

.square-button2 {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  background-color: tan;
  border-radius: 5px;
  font-size: 15px;
  top: 245px;
  left: 354px;
}

.square-author2 {
  font-family: Arial, Helvetica, sans-serif;
  color: tan;
  position: fixed;
  top: 255px;
}
/*seperator*/
.square-title3 {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 90px;
  left: 598px;
}

.square-text3 {
  font-family: Arial, Helvetica, sans-serif;
}

.square-button3 {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  background-color: tan;
  border-radius: 5px;
  font-size: 15px;
  top: 245px;
  left: 625px;
}

.square-author3 {
  font-family: Arial, Helvetica, sans-serif;
  color: tan;
  position: fixed;
  top: 255px;
}
/*Seperator*/
.square-title4 {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 90px;
  left: 869px;
}

.square-text4 {
  font-family: Arial, Helvetica, sans-serif;
}

.square-button4 {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  background-color: tan;
  border-radius: 5px;
  font-size: 15px;
  top: 245px;
  left: 895px;
}

.square-author4 {
  font-family: Arial, Helvetica, sans-serif;
  color: tan;
  position: fixed;
  top: 255px;
}
/*Seperator*/
.square-title5 {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 90px;
  left: 1140px;
}

.square-text5 {
  font-family: Arial, Helvetica, sans-serif;
}

.square-button5 {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  background-color: tan;
  border-radius: 5px;
  font-size: 15px;
  top: 245px;
  left: 1165px;
}

.square-author5 {
  font-family: Arial, Helvetica, sans-serif;
  color: tan;
  position: fixed;
  top: 255px;
}

/*Stlying for create.html*/
.create-header {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 5px;
  left: 630px;
}

.create-description {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 50px;
  left: 250px;
}

#check {
  position: fixed;
  top: 150px;
  left: 350px;
}

.create-check-text {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 195px;
  left: 300px;
}

#no {
  position: fixed;
  top: 150px;
  left: 650px;
}

.create-no-text {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 197px;
  left: 545px;
}

#check2 {
  position: fixed;
  top: 150px;
  left: 950px;
}

.create-check2-text {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 195px;
  left: 870px;
}

.create-footer {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 405px;
  left: 520px;
}

.create-apply {
  position: fixed;
  border-radius: 5px;
  top: 460px;
  left: 630px;
  font-size: 20px;
  background-color: tan;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.linkvertise-footer {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 630px;
  left: 550px;
}
/*About page styling*/
.about-header {
  color: tan;
  position: fixed;
  left: 600px;
}

.aboutus-text {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 100px;
  left: 65px;
  overflow: auto;
}

#about-user {
  position: fixed;
  top: 180px;
  left: 250px;
  color: tan;
}

.about-user-text {
  font-family: Arial, Helvetica, sans-serif;
  width: 320px;
  height: 300px;
  position: fixed;
  top: 240px;
  left: 130px;
}

.learn-more {
  position: fixed;
  border-radius: 5px;
  top: 350px;
  left: 220px;
  font-size: 20px;
  background-color: tan;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#about-users {
  position: fixed;
  top: 180px;
  left: 625px;
  color: tan;
}

.about-privacy {
  font-family: Arial, Helvetica, sans-serif;
  width: 320px;
  height: 300px;
  position: fixed;
  top: 240px;
  left: 520px;
}

.about-learn-more {
  position: fixed;
  border-radius: 5px;
  top: 350px;
  left: 610px;
  font-size: 20px;
  background-color: tan;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#about-shield {
  position: fixed;
  top: 180px;
  left: 1050px;
  color: tan;
}

.about-security {
  font-family: Arial, Helvetica, sans-serif;
  width: 320px;
  height: 300px;
  position: fixed;
  top: 240px;
  left: 930px;
}

.about-learn-security {
  position: fixed;
  border-radius: 5px;
  top: 350px;
  left: 1020px;
  font-size: 20px;
  background-color: tan;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
